.faqs{

    .container{

        .row{

            .heading-line-1{
                padding-inline: 80px;
                padding-block: 2.5px;  
            }
        
            .heading-line-2{
                padding-inline: 15px;
                padding-block: 4px;    
            }
        }
    }
}