@use '../custom' as *;
@use '../components/mix-in' as *;
@use '../components/animations' as *;

.intro-section{
    @include gradient;
    padding-top: 10rem;
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    padding-bottom: 0px;
}

.intros{


     .video-box{
            position: relative;

        a{
            @include absolute-center;
            background-color: $white;
            padding: 5px;
            border-radius: 50%;
            justify-content: center;
            animation: pulse-border 1s linear infinite;

            @include media-breakpoint-down(sm){
                position: absolute;
                top: 50%;
                left: 40%;
                transform: translate(-50%, -50%);
            }

            span{
                
                
                i{
                    font-size: 6rem;
                    color: $secondary;
                }
            }
        }
     }   
}